@import '../base/mixins';
@import '../base/variables';

.quiz{
    padding: 160px 0px 160px;
    background: url('../../img/backgroud_black.jpg') #DA4533 no-repeat center/cover;
    background-blend-mode: multiply, normal;
    &__wrapper{
        width: 1041px;
    }
    &__title{
        @include font($white, 400, 38px, 51px);
        margin-bottom: 16px;
    }
    &__subtitle{
        @include font($white, 500, 16px, 25px);
        margin-bottom: 50px;
    }
    &__test{
        width: 100%;
        background: #1B1B1B;
        border-radius: 10px;
        margin-bottom: 50px;
        padding: 35px 40px;
        position: relative;
        box-sizing: border-box;
    }
    &__question{
        @include font ($white, 500, 24px, 38px);
        margin-bottom: 30px;
    }
    &__list{
        display: grid;
        width: 100%;
        grid-template-columns: 473px 473px;
        gap: 15px;
    }
    &__item{
        background: rgba(255, 255, 255, 0.05);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 18px 20px ;
        transition: 0.3s all;
        cursor: pointer;
        &:hover{
            background: #ef5543;
        }
        &:focus{
            outline: none;
            border: 1px solid $red;
        }
    }
    &__number{
        position: absolute;
        top: 36px;
        right: 40px;
        @include font($white, 500, 36px, 45px);
        span{
            color: $red;
        }
    }
    &__buttons{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        .services__back{
            svg{
                left: -14px;
                transform: matrix(-1, 0, 0, 1, 0, 0);
            }
            &:hover{
                svg{
                    left: -18px;
                }
            }
        }
    }
    &__bonus{
        width: 804px;
    }
    &__text{
        @include font($white, 500, 24px, 38px);
        margin-bottom: 25px;
    }
    &__bonuses{
        display: flex;
        width: 100%;    
        justify-content: space-between;
    }
    &__block{
        width: 392px;
        background: #1B1B1B;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        box-sizing: border-box;
        @include font($white, 500, 18px, 28px);
    }
}

.services__further{
    margin-left: auto;
}

@media screen and (max-width: 1400px) {
    .quiz{
        padding: 120px 0px;
        &__wrapper{
            width: 936px;
        }
        &__list{
            grid-template-columns: 415px 415px;
        }
    }
}

@media screen and (max-width: 1004px) {
    .quiz{
        padding: 100px 0px;
        &__wrapper{
            width: 700px;
            margin: 0 auto;
        }
        &__list{
            grid-template-columns: 332px 332px;
        }
        &__test{
            padding: 30px 10px;
        }
        &__buttons{
            justify-content: space-around;
        }
        &__bonus{
            width: 700px;
            margin: 0 auto;
        }
        &__block{
            width: 335px;
        }
    }
}

@media screen and (max-width: 753px) {
    .quiz{
        padding: 80px 0px;
        &__wrapper{
            width: 439px;
        }
        &__bonus{
            width: 439px;
        }
        &__list{
            grid-template-columns: 100%;
        }
        &__question{
            margin-bottom: 60px;
        }
        &__number{
            top: 70px;
        }
        &__bonuses{
            flex-direction: column;
            gap: 20px;
        }
        &__block{
            width: 100%;
        }
        &__title{
            font-size: 32px;
            line-height: 35px;
        }
        &__subtitle{
            margin-bottom: 30px;
        }
    }
}

@media screen and (max-width: 455px) {
    .quiz{
        padding: 60px 0px;
        &__wrapper{
            width: 320px;
        }
        &__bonus{
            width: 320px;
        }
        &__list{
            grid-template-columns: 100%;
        }
        &__question{
            margin-bottom: 60px;
        }
        &__number{
            top: 70px;
        }
        &__bonuses{
            flex-direction: column;
            gap: 20px;
        }
        &__block{
            width: 100%;
        }
        &__title{
            font-size: 28px;
            line-height: 30px;
        }
        &__subtitle{
            margin-bottom: 20px;
        }
        &__test{
            margin-bottom: 30px;
        }
        &__text{
            font-size: 20px;
            line-height: 24px;
        }
    }
}